# Recap of Python Basics, Sessions 1-3

Before we dive into any new content, let us take a look at the most important take-aways from sessions 1-3.

# 1. Datatypes
We learned about different datatypes: Strings, Integers, Floats, Boolean values. Later in this session, we will talk about dataframes - and to understand dataframes, it is crucial that you have a solid understanding of the different datatypes.

## 1.1 Strings
Strings are a sequence of characters. To define strings, we use the single quote character '.

In [32]:
'This is session 4'

'This is session 4'

In [33]:
'This is session "4"'

'This is session "4"'

In [34]:
string_1 = 'This is session '
string_2 = '4'

In [35]:
print(string_1)
print(string_2)

This is session
4

In [36]:
print(string_1 + string_2)

This is session 4

We can check the datatype as follows ...

In [37]:
type(string_1)

str

We can also manipulate strings ...

In [38]:
# Extract part of the string
man_1 = 'Hello World!?!'
man_2 = man_1[:-3]
print(man_2)

Hello World

In [39]:
# Split strings
man_1.split('?')

['Hello World!', '!']

In [40]:
man_1.split('?')[0]

'Hello World!'

In [41]:
man_1.split('!')

['Hello World', '?', '']

In [42]:
man_1.split('!')[0]

'Hello World'

## 1.2 Numeric datatypes

There are different ways to express numbers in Python. We focused on integer and floating point representations.

In [43]:
int_1 = 1
int_2 = 2
print(int_1, int_2)

1 2

In [44]:
int_1 + int_2

3

In [45]:
int_1*int_2

2

In [46]:
float_1 = 1.5
float_2 = 2.5
print(float_1, float_2)

1.5 2.5

In [47]:
float_1 + float_2

4.0

In [48]:
float_1*float_2

3.75

## 1.3 Conversion of strings to integers/floats

In [49]:
str_1 = '1'
str_2 = '2'
str_1 + str_2

'12'

This is not what we want! For str_1 + str_2 = 3, we need to convert strings to integers:

In [50]:
# convert by using int(...)
int_1 = int(str_1)
int_2 = int(str_2)

In [51]:
# check if int_1 and int_2 are indeed integers now
print(type(int_1), type(int_2))

<class 'int'> <class 'int'>

In [52]:
# we now repeat the above procedure
int_1 + int_2

3

An equivalent procedure applies for the conversion of strings to floats:

In [53]:
str_15 = '1.5'
str_25 = '2.5'
str_15 + str_25

'1.52.5'

In [54]:
float_15 = float(str_15)
float_25 = float(str_25)
float_15 + float_25

4.0

## 1.4 Boolean values
Python supports yet another datatype: boolean values. These can take the two values 'True' and 'False'. For example, you might want to construct a variable that indicates whether it has rained on any given day. Let us call this variable 'rain'. If 'rain' takes the value 'True', this means that it rained on a given day; if 'rain' takes the value 'False', this means that it did not rain on a given day.

In [55]:
rain = True
print(rain)
type(rain)

True

bool

## 1.5 None values
None denotes missing values, or null values.

In [56]:
# E.g., if we have no information on the weather on a given day, we might assign None to a weather variable
weather_info = None
print(weather_info)

None

# 2. If conditions
We also worked with comparison operators and, most importantly, if statements.

In [ ]:
# Checks for equality
1==2

In [ ]:
# Checks for inequality
1!=2

In [57]:
# We can also combine several comparisons, with the 'and' (&) or 'or' (|) operator
(1==2) & (1!=2) # checks if 1 equals 2 and if 1 is unequal 2 - must be false by definition

False

In [58]:
(1==1) & (1<2) # checks if 1 equals 1 and if 1 is smaller than 2

True

In [59]:
(2<1) & (3<1) # checks if 2 smaller than 1 and if 3 smaller than 1

False

In [60]:
(1==2) | (1!=2) # checks if one of the two statements is true

True

We can use these comparison operators to construct if-statements. If-statements always work according to the same principle: If some condition is satisfied, do the following.
        
if (condition):
    do sth.

In [62]:
# let us define a number
num = 3
# if num is greater than 5, we would like to print the statement 'Num is greater than 5'
if num > 5:
    print(str(num) + ' is greater than 5')

# Since our if-condition is not satisfied, there is no statement being printed

In [63]:
# let us redefine the number
num = 6
# if num is greater than 5, we would like to print the statement 'Num is greater than 5'
if num > 5:
    print(str(num) + ' is greater than 5')

# Now our if-statement is satisfied and the statement is being printed

6 is greater than 5

We can also say what should happen if the condition is not satisfied, namely by using 'else':

In [64]:
# let us define a number
num = 3
# if num is greater than 5, we would like to print the statement 'Num is greater than 5', otherwise we would like to print the satetement 'Num is smaller than 5'
if num > 5:
    print(str(num) + ' is greater than 5')
else:
    print(str(num) + ' is smaller than or equal to 5')

3 is smaller than 5

We can also iterate over different if conditions, using 'elif'. For example, if we would first like to check if a number is greater than 5 and then if the same number is greater than 2, we would write:

In [65]:
# let us redefine the number
num = 3
# if num is greater than 5, we would like to print the statement 'Num is greater than 5'
# if num is greater than 2, we would like to print the statement 'Num is greater than 2'
if num > 5:
    print(str(num) + ' is greater than 5')
elif num > 2:
    print(str(num) + ' is greater than 2')

3 is greater than 2

# 3. For-loops
For-loops come in handy if we want to repeat an operation for a range of values. Suppose we want to add 2 to every integer between 20 and 31, and then divide by 10.

In [66]:
for k in range(20, 30):
    num = (k+2)/10
    print(num)

2.2
2.3
2.4
2.5
2.6
2.7
2.8
2.9
3.0
3.1

We can also combine if-conditions with for-loops:

In [70]:
for k in range(20, 30):
    # add 2 and divide by 10 if number is odd
    if k % 2 != 0:
        print('This is an odd number: ' + str(k))
        num = (k+2)/10
        print(num)
    # add 1 and divide by 20 if number is even
    if k % 2 == 0:
        print('This is an even number: ' + str(k))
        num = (k+1)/20
        print(num)

This is an even number: 20
1.05
This is an odd number: 21
2.3
This is an even number: 22
1.15
This is an odd number: 23
2.5
This is an even number: 24
1.25
This is an odd number: 25
2.7
This is an even number: 26
1.35
This is an odd number: 27
2.9
This is an even number: 28
1.45
This is an odd number: 29
3.1